body {
    font-family: 'trebuchet ms', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#container {
    width: 1000px;
    font-size: 90%;
    margin: 0 auto;
}

#header {
    border: blue dashed 1px;
    background-color: lightskyblue;
    padding: 10px;
    height: 75px;
}

#header h1 {
    display: block;
    width: 80%;
    height: 10%;
    padding: 10px;
    color: darkslateblue;   
    font-family: 'trebuchet ms', Arial, Helvetica, sans-serif ;
}

#sidebar {
    border: blue dashed 1px;
    float: left;
    margin-top: 10px;
    width: 150px;         
    background-color: lightskyblue; 
}

#sidebar h3 {
    /* outline: red solid 1px; */
    padding: 5px;
    color: darkred; 
    font-family: 'trebuchet ms', Arial, Helvetica, sans-serif ;
}

ul#navmenu {
    /* outline: red solid 1px; */
    margin: 0;
    padding: 0;

}

ul#navmenu li {
    /* outline: red solid 1px; */
    list-style-type: none;
    margin-bottom: 5px;
}

ul#navmenu a {
    /* outline: red solid 1px; */
    display: block;
    padding: 5px 3px 3px;   
    text-align: left;
    text-decoration: none;
    background-color: rgb(24, 48, 83);
    color: yellow;
}   



ul#navmenu a:hover, 
ul#navmenu a:focus, 
ul#navmenu a:active {
    background-color: rgb(65, 65, 65);
    color: white;
    cursor: pointer;
}

ul#navmenu a.selected, 
ul#navmenu a.selected:hover, 
ul#navmenu a.selected:active, 
ul#navmenu a.selected:focus {
    color: darkslateblue;
    color: white;
}

#page {
    float: left;
    border: blue dashed 1px;
    margin-top: 10px;
    margin-left: 10px;
    width: 815px;
    padding: 10px;  
}

#page h2 {
    color: darkred;
    font-family: 'trebuchet ms', Arial, Helvetica, sans-serif ;
}

img {
    border: none;
}

#clear {
    clear: both;    
}

#footer {
    border: blue dashed 1px;
    margin-top: 10px;
    text-align: center;
    background-color: lightskyblue;
}


